@font-face {
  font-family: 'HK Grotesk';
  src: url(font/HKGrotesk-Regular.woff2) format('woff2'),
       url(font/HKGrotesk-Regular.woff) format('woff');
    font-weight: 400;
    font-style: regular;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(font/HKGrotesk-Medium.woff2) format('woff2'),
       url(font/HKGrotesk-Medium.woff) format('woff');
    font-weight: 500;
    font-style: regular;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url(font/HKGrotesk-Bold.woff2) format('woff2'),
       url(font/HKGrotesk-Bold.woff) format('woff');
    font-weight: 600;
    font-style: regular;
}

@font-face {
  font-family: 'Sporting Grotesk';
  src: url(font/Sporting_Grotesque-Regular_web.woff2) format('woff2'),
       url(font/Sporting_Grotesque-Regular_web.woff) format('woff');
    font-weight: 400;
    font-style: regular;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
    font-family: 'Sporting Grotesk';
    font-weight: 400;
}

h1, h3, h6 {
    font-family: 'Corben', cursive;
}

h3 {
    font-size: 3.5rem;
    font-weight: 500;
}

.App {
    /*background-color: #E2F2FB;*/
    background-color: #f5f5f5;
}

.header {
    position: fixed;
    top:  0px;
    left:  0px;
    width: 100%;
  z-index: 10000001;
  overflow: hidden;
  background-color: #f5f5f5;
  padding-bottom: 12px;
}

.header h1 {
    display: flex;
    font-size: 0.9rem;
    /*color: #A0CBE2;*/
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Sporting Grotesk';
    letter-spacing: 2px;
}

h1 span {
    width: 260px;
    display: inline-block;
    flex: 0 0 auto;
    padding: 15px 0px 0px 0px;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing div {
    width: 80%;
    padding: 50px 50px 100px 50px;
}

.landing h1 {
    font-size: 6.5rem;
    text-align: center;
    /*color: #1B6A43;*/
}

.landing img {
    width: 40%;
    margin: auto;
     display: block;
}

.section {
    padding: 120px 50px 120px 50px;
}

.values {
    background-color: black;
    color: white;
    text-align: center;
}

.section .col-md {
    font-weight: 500;
    padding: 30px 50px 30px 50px;
}

.section h6 {
    font-size: 1.8rem;
    padding-bottom: 30px;
    line-height: 2.1rem;
}

.section p {
    font-size: 0.9rem;
    font-weight: 400;
}

.business {
    text-align: center;
}

.section .col-md img {
    width: 100%;
}

.faq {
    background-color: black;
    color: white;
}

.faq h3 {
    text-align: center;
}

.faq-div {
    margin: auto;
    padding: 30px 30px 30px 30px;
}

.card {
    border: none;
}

.faq-div .card-header {
    border: none;
    background-color: black;
}

.faq-div .card-body {
    background-color: black;
    padding: 20px 20px 20px 33px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    border-color: 1px solid black;
    background-color: black;
}

.btn-link {
    background-color: black;
    border: none;
    font-size: 2rem;
    font-family: 'Corben', cursive;
    color: white;
}

.btn-primary:hover, .btn-primary:focus {
    text-decoration: none;
    background-color: black;
}
